<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cardfight!! Vanguard Card Database</title>
    <link rel="stylesheet" href="/assets/css/master.css">
    <link rel="stylesheet" href="/assets/css/home.css">
    <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon">
    <script defer src="/assets/js/home.js"></script>
</head>

<body>
    <div class="banner banner-top">
        <header id="header-text">
            <h1>
                Cardfight!! Vanguard Card Database
            </h1>
        </header>
    </div>

    <div class="content">
        <input type="text" placeholder="Enter card name (case-sensitive)" name="searchBox" id="searchBox">

        <div class="card-results" data-name="card-results">
        </div>
    </div>

</body>

</html>