/* TODO: Fix scrolling so that it's always smooth; currently jumps once animation finishes */
.banner {
    background:
        linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("/assets/images/banner.png");

    height: 300px;
    background-repeat: repeat-x;

    display: flex;
    align-items: center;
}

.banner-top {
    animation: scroll-to-right 120s linear infinite;
}

@keyframes scroll-to-right {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -100% 0;
    }
}

.searchbar {
    display: flex;
    max-width: 70vw;
    align-items: center;
}

#searchBox {
    height: 52px;

    display: block;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;

    background: #3f3f3f;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 3px;
    padding-left: 1rem;

    color: var(--main-text-color);
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
}

#searchBox:focus {
    outline: none;
    background-color: rgb(80, 80, 80);
}

#searchBox::placeholder {
    font-size: 1rem;
    color: var(--main-text-color-muted);
    font-family: 'Roboto', sans-serif;
}

#header-text {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-results {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 100;
    }
}

.card-img {
    --card-border: #F9FBF2;
    --card-width: 250px;
    --card-aspect-ratio: calc(3.4 / 2.33);

    width: var(--card-width);
    height: calc(var(--card-width) * var(--card-aspect-ratio));

    border: 5px solid var(--card-border);
    border-radius: 5px;
    margin: 15px;

    animation: fade-in 0.75s;


    background-image: url("/assets/images/img-unavailable.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.apiLink {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--main-text-color);
}

.apiIcon {
    width: 100px;
    height: 100px;
}


.apiLink:hover {
    color: var(--second-text-color);
}