/* TODO: Change font size based on user screen size */
/* TODO: Use css variables for site theming (e.g. color)? */
/* TODO: Add custom font */

:root {
    --main-text-color: #D7F9FF;
    --second-text-color: #FFEDE1;
    --main-text-color-muted: #AFCBFF;
    --site-bg-color: #0E1C36;

    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: var(--main-text-color);
}

:root * {
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
}

body {
    background: var(--site-bg-color);
    background-repeat: no-repeat;
    min-height: 100vh;
}